numpy==2.2.3
cascadio==0.0.16
"chardet==5.2.0
lxml==5.3.1
manifold3d==3.0.1
meshio==5.3.5
networkx==3.4.2
pillow==11.1.0
pycollada==0.9
PyQt6==6.8.1
PyQt6-WebEngine==6.8.0
scipy==1.15.2
trimesh==4.6.1